.animationPortfolio {
  padding: 80px 0;
  background: radial-gradient(63.46% 96.32% at 50% 50%, #FFFFFF 0%, #FFDEFD 100%);
  text-align: center;
  overflow: hidden;
}

.heading {
  font-size: 100px;
  line-height: 125px;
  leading-trim: both;
  text-edge: cap;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  background: linear-gradient(90.99deg, #19042D 38.72%, #CB09A4 116.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.description {
  color: var(--accent-color);
  margin: 0 auto 30px;
}

.tabsContainer {
  width: 1593px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.tab {
  font-size: 35px;
  font-weight: var(--font-500);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #87639D;
  opacity: 0.4;
  transition: color 0.3s ease;
}

.activeTab {
  color: var(--primary-color);
  opacity: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 15px;
  width: 100%;
  padding: 0 1.5%;
}

.gridItem {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 16/10;
}

.gridItem:nth-child(-n+3) {
  grid-column: span 5;
}

.gridItem:nth-child(n+4) {
  grid-column: span 3;
}

.gridItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.gridItem:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.overlayText {
  color: #fff;
  text-align: left;
}

.gridItem:nth-child(-n+3) .itemTitle {
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.02em;
  font-weight: var(--font-400);
  font-family: var(--font-heading);
  margin-bottom: 5px;
}

.gridItem:nth-child(-n+3) .itemCategory {
  display: none;
}

.gridItem:nth-child(-n+3) .watchBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--primary-color);
  backdrop-filter: blur(5px);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.gridItem:nth-child(-n+3) .watchBtn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.gridItem:nth-child(-n+3) .watchBtnText {
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: var(--font-400);
  font-family: var(--font-heading);
}

.gridItem:nth-child(-n+3) .playIconWrapper {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridItem:nth-child(-n+3) .playIconWrapper svg {
  width: 15px;
  height: 15px;
  fill: #000;
  color: #000;
}

.gridItem:nth-child(n+4) .itemTitle {
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: var(--font-400);
  font-family: var(--font-heading);
}

.gridItem:nth-child(n+4) .itemCategory {
  font-weight: var(--font-400);
  font-size: 14px;
  line-height: 22px;
  color: var(--light-color);
}

.gridItem:nth-child(n+4) .watchBtnText {
  display: none;
}

.gridItem:nth-child(n+4) .watchBtn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.gridItem:nth-child(n+4) .playIconWrapper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.gridItem:nth-child(n+4) .playIconWrapper svg {
  width: 14px;
  height: 14px;
  fill: #fff;
  color: #fff;
}

.gridItem:hover:nth-child(n+4) .playIconWrapper,
.gridItem:nth-child(n+4) .watchBtn:hover .playIconWrapper {
  transform: scale(1.2);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  width: 90%;
  max-width: 900px;
  aspect-ratio: 16/9;
  background: #000;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.closeBtn {
  position: absolute;
  top: -40px;
  right: 0;
  background: transparent;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .animationPortfolio {
    padding: 80px 0;
  }

  .heading {
    font-size: 80px;
    line-height: 95px;
  }

  .description {
    margin: 0 auto 25px;
  }

  .tabsContainer {
    width: 100%;
    max-width: 100%;
    gap: 10px 20px;
    margin-bottom: 30px;
  }

  .tab {
    font-size: 30px;
    padding: 5px 10px;
    opacity: 0.4;
  }

  .overlay {
    padding: 20px 10px;
  }

  .gridItem:nth-child(-n+3) .itemTitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .gridItem:nth-child(-n+3) .watchBtn {
    gap: 5px;
    padding: 10px;
  }

  .gridItem:nth-child(-n+3) .watchBtnText {
    font-size: 16px;
  }

  .gridItem:nth-child(-n+3) .playIconWrapper svg {
    width: 14px;
    height: 14px;
  }

  .gridItem:nth-child(n+4) .itemTitle {
    font-size: 16px;
    line-height: 25px;
  }

  .gridItem:nth-child(n+4) .playIconWrapper {
    width: 18px;
    height: 18px;
  }

  .closeBtn {
    top: 0px;
    font-size: 30px;
    background: #00000073;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1399px) {
  .animationPortfolio {
    padding: 60px 0;
  }

  .heading {
    font-size: 70px;
    line-height: 80px;
  }

  .description {
    margin: 0 auto 15px;
  }

  .tabsContainer {
    gap: 10px;
  }

  .tab {
    font-size: 25px;
    line-height: 35px;
    padding: 0px 10px;
  }

  .grid {
    padding: 0 15px;
  }

  .overlay {
    padding: 15px 10px;
  }

  .gridItem:nth-child(-n+3) .itemTitle {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 5px;
  }

  .gridItem:nth-child(-n+3) .watchBtnText {
    font-size: 14px;
    letter-spacing: -0.02em;
  }

  .gridItem:nth-child(-n+3) .playIconWrapper {
    width: 18px;
    height: 18px;
  }

  .gridItem:nth-child(n+4) .itemTitle {
    font-size: 14px;
    line-height: 22px;
  }

  .gridItem:nth-child(n+4) .playIconWrapper {
    width: 17px;
    height: 17px;
  }

  .gridItem:nth-child(n+4) .playIconWrapper svg {
    width: 13px;
    height: 13px;
  }
}

@media (max-width: 1199px) {
  .animationPortfolio {
    padding: 40px 0;
  }

  .heading {
    font-size: 40px;
    line-height: 50px;
    margin: 0;
  }

  .description {
    margin: 0 auto 20px;
  }

  .tab {
    font-size: 22px;
    line-height: 30px;
  }

  .grid {
    padding: 0 10px;
  }

  .overlay {
    padding: 10px;
  }

  .gridItem:nth-child(-n+3) .itemTitle {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
  }

  .gridItem:nth-child(-n+3) .watchBtn {
    gap: 5px;
    padding: 5px;
  }

  .gridItem:nth-child(-n+3) .playIconWrapper {
    width: 15px;
    height: 15px;
  }

  .gridItem:nth-child(n+4) .itemCategory {
    font-size: 12px;
    line-height: 18px;
  }

  .gridItem:nth-child(n+4) .playIconWrapper {
    width: 15px;
    height: 15px;
  }

  .gridItem:nth-child(n+4) .playIconWrapper svg {
    width: 10px;
    height: 10px;
  }

  .closeBtn {
    font-size: 25px;
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 991px) {
  .heading {
    font-size: 30px;
    line-height: 40px;
  }

  .tab {
    font-size: 20px;
  }

  .grid {
    grid-template-columns: repeat(12, 1fr);
    padding: 0 10px;
  }

  .gridItem:nth-child(-n+3) {
    grid-column: span 6;
  }

  .gridItem:nth-child(n+4) {
    grid-column: span 6;
  }

  .overlay {
    padding: 10px;
  }

  .gridItem:nth-child(-n+3) .itemTitle {
    font-size: 16px;
    line-height: 22px;
  }

  .gridItem:nth-child(-n+3) .watchBtn {
    gap: 8px;
    padding: 5px;
  }

  .gridItem:nth-child(-n+3) .playIconWrapper {
    width: 20px;
    height: 20px;
  }

  .gridItem:nth-child(n+4) .itemTitle {
    font-size: 16px;
    line-height: 25px;
  }

  .gridItem:nth-child(n+4) .itemCategory {
    font-size: 14px;
    line-height: 22px;
  }

  .gridItem:nth-child(n+4) .playIconWrapper {
    width: 25px;
    height: 25px;
  }

  .gridItem:nth-child(n+4) .playIconWrapper svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 767px) {
  .heading {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 5px;
  }

  .tab {
    font-size: 18px;
    line-height: 28px;
  }

  .overlay {
    padding: 10px 5px;
  }

  .gridItem:nth-child(-n+3) .watchBtn {
    gap: 0px;
    padding: 0px;
    border: none;
    background: transparent;
  }

  .gridItem:nth-child(-n+3) .watchBtnText {
    display: none;
  }

  .gridItem:nth-child(-n+3) .playIconWrapper {
    width: 25px;
    height: 25px;
  }

  .gridItem:nth-child(-n+3) .playIconWrapper svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 575px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 10px;
  }

  .overlay {
    padding: 20px 10px;
  }
}