.whyPartnerSection {
  padding: 80px 0;
  color: white;
  position: relative;
  z-index: 1;
}

/* .section::before{
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(60% 91% at 69% 43%, #C53ADD 0%, #19042D 100%);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */

.heading {
  text-align: center;
  margin: 0 auto 15px auto;
  width: 1200px;
}

.description {
  text-align: center;
  margin: 0 auto 80px auto;
  width: 1200px;
}

.cardsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 50px;
}

.card {
  background: linear-gradient(207.54deg, #DDB5F0 1.11%, #E8E0E9 45.87%);
  border: 1px solid rgba(200, 9, 164, 0.2);
  border-radius: 18px;
  padding: 40px 30px;
  width: 100%;
  max-width: 309px;
  height: 394px;
  text-align: left;
  color: #333;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transform-origin: center bottom;
  position: relative;
}

.iconImage {
  width: 61px;
  height: auto;
  object-fit: contain;
  margin-bottom: 25px;
}

.cardTitle {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-weight: var(--font-400);
  color: var(--accent-color);
  margin-bottom: 15px;
}

.cardText {
  height: 100px;
  font-size: var(--font-size-sm);
  line-height: 25px;
  color: var(--accent-color);
}

@media (max-width: 1600px) {
  .whyPartnerSection {
    padding: 80px 0;
  }

  .heading {
    width: 1200px;
  }

  .description {
    margin: 0 auto 60px auto;
    width: 1050px;
  }

  .cardsWrapper {
    gap: 10px;
    padding-bottom: 0px;
  }

  .card {
    padding: 30px;
    max-width: 300px;
    height: 320px;
  }
}

@media (max-width: 1399px) {
  .whyPartnerSection {
    padding: 60px 0;
  }

  .heading {
    width: 1000px;
  }

  .description {
    margin: 0 auto 50px auto;
    width: 920px;
  }

  .cardsWrapper {
    gap: 10px;
    padding-bottom: 0px;
  }

  .card {
    max-width: 250px;
    height: 290px;
    padding: 25px;
  }

  .iconImage {
    width: 50px;
    margin-bottom: 15px;
  }

  .cardTitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .cardText {
    height: 100px;
    line-height: 25px;
  }
}

@media (max-width: 1199px) {
  .whyPartnerSection {
    padding: 40px 0;
  }

  .heading {
    width: 820px;
  }

  .description {
    margin: 0 auto 50px auto;
    width: 720px;
  }

  .card {
    max-width: 200px;
    height: 235px;
    padding: 15px;
  }

  .iconImage {
    width: 45px;
    margin-bottom: 10px;
  }

  .cardTitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .cardText {
    height: 90px;
    line-height: 22px;
    margin-bottom: 0px;
  }
}

@media (max-width: 991px) {
  .heading {
    width: 100%;
  }

  .description {
    margin: 0 auto 40px auto;
    width: 100%;
  }

  .card {
    max-width: 300px;
    height: 250px;
    padding: 20px;
  }

  .cardTitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .description {
    margin: 0 auto 30px auto;
  }

  .card {
    max-width: 250px;
    height: 255px;
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .card {
    max-width: 300px;
    height: unset;
    padding: 20px;
  }

  .cardTitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .cardText {
    height: 130px;
    line-height: 22px;
  }
}
